{
  "extends": "eslint:recommended",
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
  },
  "rules": {
    "import/extensions": [ "off" ],
    "import/no-extraneous-dependencies": [ "off" ],
    "indent": [ "error", "tab", { "SwitchCase": 1 } ],
    "linebreak-style": [ "off" ],
    "no-console": [ "off" ],
    "no-unexpected-multiline": [ "off" ],
    "no-undef": [ "off" ]
  }
}
