@import url('./layout.css');
@import url('./visual.css');

html, body
{
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

#errorDisplay
{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: white;
	z-index: 10;
}
