@import url('./utility.css');

html, body
{
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	color: #F0EAD6;
	background-color: #2A2B2A;
}

.hidden
{
	height: 0;
	padding: 0 !important;
}

#label
{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 2em;
	font-weight: bold;
}

#container
{
	display: flex;
	flex-flow: column nowrap;
}

#container .day
{
	display: flex;
	flex-flow: column nowrap;
	padding: 5px 0;
	border-bottom: 1px solid;
}
#container .day:last-child { border-bottom: 0 none; }

#container .day .label
{
	cursor: pointer;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 5px;
	margin-bottom: 5px;
}

#container .day .timeSpan
{
	display: flex;
	flex-flow: row nowrap;
	padding: 2px 5px;
	background-color: #465362;
}
#container .day .timeSpan.alt { background-color: #2E3844; }

#container .day .timeSpan .startTime { margin-left: 10px; }
#container .day .timeSpan .startTime,
#container .day .timeSpan .endTime
{
	width: 70px;
	text-align: center;
}

#container .day .timeSpan .spacer { margin: 0 7px 0px 10px; }

#container .day .timeSpan .duration
{
	text-align: right;
	margin-right: 10px;
}
